.circle-dropdown-btn {
   background-color: transparent;
   border: 2px solid $color-main-pink;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   cursor: pointer;

   img {
      margin-left: 1px;
      transition: 0.4s ease;
   }
}

.content__circle-dropdown--rotate:hover {
   cursor: pointer;
   .circle-dropdown-btn {
      img {
         transform: rotate(90deg) translate(1.4px, 0);
      }
   }
}
#readMore-1 {
   margin-bottom: 16px;
}
