.footer {
   .footer__wrapper {
      .footer__content {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         padding: 20px 32px;
         div {
            width: 33.3%;

            font-family: 'TTLakes-M';
            font-size: 14px;
            line-height: 16px;
            color: $color-text-2;

            mix-blend-mode: normal;
            opacity: 0.72;
         }
         .footer__block-1 {
            p:nth-child(1) {
               margin-bottom: 2px;
            }
            p:nth-child(2) {
               margin-top: 2px;
            }
         }
         .footer__block-2 {
            margin-left: 10px;
            margin-right: 20px;
            text-align: center;
         }
         .footer__block-3 {
            text-align: right;
         }
      }
      @media (max-width: $width-md) {
         .footer__content {
            display: flex;
            flex-flow: column nowrap;
            padding: 20px 24px;
            div {
               width: 100%;
               text-align: center !important;
               margin: 0 !important;
            }
         }
      }
   }
}
