@import '~normalize.css';
@import 'fonts.scss';

@import 'variables.scss';

body {
   box-sizing: border-box;
   background-color: $color-main-grey;
   font-family: 'TTLakes-R';
}

@import 'circle-pink-btn.scss';
@import 'navbar-btns.scss';
@import 'circle-dropdown-btn.scss';

@import 'swiper.scss';
@import 'navbar.scss';
@import 'header.scss';
@import 'modal.scss';
@import 'read-more.scss';

@import 'content.scss';
@import 'title-content.scss';
@import 'content-block-title.scss';
@import 'footer.scss';
