@import '~normalize.css';
@import 'fonts.scss';

body {
   font-family: 'TTLakes-B';
}

.example {
   display: grid;
   transition: all 0.5s;
   user-select: none;
   background: url('../assets/img/webpack-logo.png');
   background-size: 7%;
   height: 100px;
}
