#nav {
   position: fixed;
   left: -320px;
   top: 0;
   z-index: 5;
   // box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.navbar {
   background-color: white;
   min-width: 320px;
   height: 100vh;
   transition: 0.5s ease-out;
   .navbar__item--active {
      color: $color-text-2 !important;
   }
   .navbar__wrapper {
      height: inherit;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      padding: 0 24px;
   }
   .navbar__header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 88px;
      .navbar__site-logo {
         margin-left: 24px;
      }
      .navbar__search-btn {
         margin-left: auto;
      }
   }
   .navbar__menu {
      ul {
         padding: 0;
         margin-bottom: 24px;
         li {
            display: flex;
            align-items: center;
            list-style: none;
            height: 32px;
            padding: 8px 0;
            position: relative;
            a {
               font-family: 'TTLakes-M';
               text-decoration: none;
               font-size: 16px;
               line-height: 24px;
               letter-spacing: -0.2px;
               color: $color-text-1;
            }
            .navbar__link--active {
               display: inline-block;
               height: 36px;
               width: 6px;
               border-radius: 25%;
               background-color: $color-ui-blue;
               position: absolute;
               left: -25px;
            }
         }
         li {
            a:hover {
               color: $color-main-pink;
               transition: 0.1s ease;
            }
         }
      }
   }
   .navbar__bottom-block {
      padding-bottom: 32px;
      .navbar__contacts-and-language {
         p {
            font-family: 'TTLakes-M';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            margin: 16px 0 12px 0;
         }
         h2 {
            font-family: 'TTLakes-B';
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.6px;
            margin-top: 0;
         }
         button {
            background-color: white;
            border: none;
            padding: 0 4px 0 0;

            font-family: 'TTLakes-M';
         }
      }
   }
}
@media (min-width: $width-xl) {
   #nav {
      position: static;
      height: unset;
      box-shadow: none;
      .navbar__cross-btn {
         display: none;
      }
      .navbar__site-logo {
         margin-left: 0;
      }
      .navbar__wrapper {
         padding-top: 16px;
      }
   }
   main {
      display: flex;
      min-width: 0;
      flex-flow: row nowrap;
   }
}
