.navbar-btns {
   display: flex;
   flex-flow: row nowrap;
   gap: 16px;
   margin-right: 20px;
   .navbar-btns__btn--show-md {
      display: none;
   }
}

@media (min-width: $width-sm) and (max-width: $width-md) {
   .navbar-btns {
      .navbar-btns__btn--show-md {
         display: flex;
      }
   }
}
