.read-more {
   button {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 16px;

      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-top: 24px;
      margin-bottom: 56px;
      img {
         pointer-events: none;
      }
      p {
         margin: 0;
         font-family: 'TTLakes-M';
         font-size: 16px;
         line-height: 24px;
         letter-spacing: -0.2px;
         pointer-events: none;
      }
   }
}

#more-1 {
   display: none;
}

@media (max-width: $width-md) {
   .content {
      .read-more--none {
         display: none;
      }
   }
}

#more-1 {
   display: none;
}
