.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}
.swiper-pagination {
   position: static !important;
   z-index: 100 !important;
   margin: 16px 0 8px 0 !important;
}
.swiper-pagination-bullet {
   width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px)) !important;
   height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px)) !important;
   background: var(--swiper-pagination-bullet-inactive-color, $color-slider-2) !important;
   opacity: 1 !important;
   margin: 16px 6px 8px 6px !important;
}
.swiper-pagination-bullet-active {
   background: var(--swiper-pagination-color, $color-slider-1) !important;
}
.swiper-slide {
   background-color: transparent;
   text-align: unset;
   font-size: unset;
   // min-width: 250px;

   img {
      display: unset;
      width: unset;
      height: unset;
   }
}
.swiper-wrapper {
   display: flex !important;
   gap: unset !important;
}

.swiper-wrapper.title-content__slider-menu-wrapper {
   margin-bottom: 0 !important;
}
@media (min-width: $width-lg) {
   .swiper-wrapper.title-content__slider-menu-wrapper .swiper-slide {
      min-width: 250px;
   }
}
@media (max-width: $width-lg) {
   .swiper-wrapper.title-content__slider-menu-wrapper .swiper-slide {
      min-width: 300px;
   }
}
@media (max-width: $width-md) {
   .swiper-wrapper.title-content__slider-menu-wrapper .swiper-slide {
      min-width: 250px;
   }
}
@media (max-width: $width-sm) {
   .swiper-wrapper.title-content__slider-menu-wrapper .swiper-slide {
      min-width: 200px;
   }
}
.swiper-horizontal > .swiper-scrollbar {
   position: unset !important;
   z-index: 3 !important;
   height: 4px !important;
   width: 100% !important;

   margin-top: 12px !important;
   background-color: $color-ui-light-grey !important;
   .swiper-scrollbar-drag {
      background-color: #a8a8a8;
   }
}
// .swiper-slide {
//    width: 250px !important;
// }
